table.translations input {
	margin-right: 0px;
}

p.translation-help {
	padding: 20px;
}

table.translations tr.template {
	display: none;
}

table.translations td {
	vertical-align: middle;
}

table.translations a.delete {
	padding: 0;
}