.field-multilingual .invalid > div {
	padding: 0.75em 1em 0.75em;
}

.field-multilingual .invalid > div {
	margin-bottom: 0;
	background-color: #dd4422;
	border: 1px solid #cc3311;
	border-bottom-width: 0;
}

.field-multilingual > div.container {
	margin-bottom: 1.5em;
}

.field-multilingual div.container label {
	margin-bottom: 0;
}



/*--------------------------------------------*/
/* !Tabs */
/*--------------------------------------------*/
.field-multilingual label {
	display: block;
}

.field-multilingual .tab-panel {
	padding: 10px;
	background-color: #f5f5f3;
	border: 1px solid #e4e4d4;
	border-top: 0;
	overflow: auto;
	clear: both;
}

.field-multilingual ul.tabs {
	float: left;
	margin: 0;
	width: 100%;
	border-bottom: 1px solid #e4e4d4;
}

.field-multilingual ul.tabs li {
	color: #aaaa99;
	cursor: pointer;
	text-decoration: none;
	float: left;
	display: block;
	padding: 2px 8px;
	margin: 0 3px -1px 0;
	border: 1px solid #e4e4d4;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	background-color: #f9f9f9;
}

.field-multilingual ul.tabs li:hover {
	color: #444;
}

.field-multilingual ul.tabs li.active {
	border-bottom: 1px solid #f5f5f3;
	background-color: #f5f5f3;
	color: #888;
	cursor: default;
}

.field-multilingual div.tab-edit {

}

.field-multilingual div.tab-edit fieldset {
	padding: 0;
	margin: 0 0 5px 0;
}

.field-multilingual div.tab-edit label {
	margin: 0
}

.field-multilingual div.tab-edit fieldset input.text {
	width: 100px;
	margin-right: 5px;
}



/*--------------------------------------------*/
/* !Span */
/*--------------------------------------------*/
.field-multilingual span.frame {
	border: none;
	box-shadow: none;
	margin-bottom: 0;
	padding: 0;
}
